doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    title Densely
    link(href='css/bootstrap.min.css', rel='stylesheet')
    link(href='css/scrolling-nav.css', rel='stylesheet')
    link(href='css/timeline.css', rel='stylesheet')
  body#page-top
    nav#mainNav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
      .container
        a.navbar-brand.js-scroll-trigger(href='#page-top') Densely
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarResponsive.collapse.navbar-collapse
          ul.navbar-nav.ml-auto
            li.nav-item
              a.nav-link.js-scroll-trigger(href='#model') Check the Model!
            li.nav-item
              a.nav-link.js-scroll-trigger(href='#wiki') How we worked on the Project
            li.nav-item
              a.nav-link.js-scroll-trigger(href='#team') About our Team
    header.bg-primary.text-white
      .container.text-center
        h1 Densely
        p.lead A Software Engineering Project with a Neural Network Twist 
    section#model
      .container.text-center
        .h2 Live Model Demo
      br
      br
      .container
        .row.text-center
          .col-lg-4.mx.auto
          .col-lg-4.mx-auto
            button.btn.btn-primary.btn-lg(type='button', onclick="ajaxDensity()") Check the Density!
          .col-lg-4.mx.auto
      .container
        br
        table.table.text-centered(margin='auto')
          thead
            tr
              th(margin="30px",padding="40% 40% 40% 40%") Image
              th People
          tbody#resultlist
        
    section#wiki.bg-light
      .container
        .row
          .col-lg-8.mx-auto
            h2 The plan
            p.lead
              | Working on a project has it's perks. We do not have to do it for arbitary reason. There is a purpose. There is a will to do stuff. There is a passion. But sometimes this passion will lead us down the rabbit hole where we get stuck in solving some issues and miss the deadline. So it is very important that a time line is managed. We tried to document as much as we could of our journey on this project!
            h2 The Timeline
            br
            .container
              ul.timeline
                li
                  .timeline-badge.info
                    i.glyphicon.glyphicon-chevron-left
                  .timeline-panel
                    .timeline-heading
                      h4.timeline-title  Project Inception
                    .timeline-body
                      p Sometimes, knowing the number of people in a park, bus or an amusement park can help us make a more informed decision. A crowd may not be what we are looking for, in such situations a tool that would provide us with the information would be awesome. And hence we decided to go with Densely!

                li.timeline-inverted
                  .timeline-badge.warning
                    i.glyphicon.glyphicon-chevron-right
                  .timeline-panel
                    .timeline-heading
                      h4.timeline-title Search for Database
                    .timeline-body
                      p
                        The initial weeks was majorly focused on one and only one thing. Getting a good dataset would mean that half the battle was won on the neural networks front. But it was not easy. Every database we looked at either had bad labels or did not have enough data to train for the model. We knew the task was going to get difficult now but luckily we found some opencv framework to get the model.
                li
                  .timeline-badge.danger
                    i.glyphicon.glyphicon-chevron-left
                  .timeline-panel
                    .timeline-heading
                      h4.timeline-title Smooth Sail!
                    .timeline-body
                      p Once we found the opencv module it was a smooth sail. The model was coming out well and so was the UI and middle ware. But it was just the calm before the storm.
                li.timeline-inverted
                  .timeline-badge.default
                    i.glyphicon.glyphicon-chevron-right
                  .timeline-panel
                    .timeline-heading
                      h4.timeline-title The integration and deployment storm
                    .timeline-body
                      p All was well till both the model and UI was ready and it was time for integration and deployment. From python crashes to too many multiple processes the entire project was falling apart. While the proof of concept for what we thought was there but we were still not available to get the 2 parts join and work seamlessly. That's when we knew we had to think of better architecture to solve the problem. 
                li
                  .timeline-badge.default
                    i.glyphicon.glyphicon-chevron-left
                  .timeline-panel
                    .timeline-heading
                      h4.timeline-title Dawn of new ideas
                    .timeline-body
                      p As the semester was coming to an end our brains were also working on full throttle. We explored all possible options ranging from python servers to kafka queues and RabbitMQ. We looked for live stream broadcaster and running the saved model in java script. In the end we decided to go with a database which will be continuously updated by the python server and node will pull out values for that when ever user requests. 
                li.timeline-inverted
                  .timeline-badge.default
                    i.glyphicon.glyphicon-chevron-right
                  .timeline-panel
                    .timeline-heading
                      h4.timeline-title Final leg
                    .timeline-body
                      p After the complete integration and deployment, it was time to document and test everything. It was surprising how even a 2 member team had schedule conflicts and how we forgot parts of our code when we went back to test it. Our comments at critical sections helped us in the end. And here we are presenting it to our Professor while he smiles reading this line!

    section#team
      .container
        .row
          .col-lg-8.mx-auto
            p.lead Our team consisted of 2 people : Prashil Bhimani and Shayon Gupta. Shayon is a neural network enthusiast who loves discussing geeky topics and is obsessed by awesome course work and awesome Professors!
    // Footer
    footer.py-5.bg-dark
      .container
        p.m-0.text-center.text-white 
      // /.container
    // Bootstrap core JavaScript
    script(src='vendor/jquery/jquery.min.js')
    script(src='vendor/bootstrap/js/bootstrap.bundle.min.js')
    // Plugin JavaScript
    script(src='vendor/jquery-easing/jquery.easing.min.js')
    // Custom JavaScript for this theme
    script(src='js/scrolling-nav.js')
    script(src="js/getdensity.js")
